<header>
    <div class="header-top-content">
        <h1>Temp Control Club</h1>
        <p class="subtitle">Système de surveillance de température</p>
    </div>
    <nav class="main-navigation">
        <ul>
            <li><a href="../../controllers/index.php">Accueil</a></li>
            <li><a href="../gestion_capteurs.html">Gestion des capteurs</a></li>
            <li><a href="../affichage_donnees.html">Affichage des données</a></li>
            <li><a href="../../controllers/log-in.php">Inscription/Connexion</a></li>
        </ul>
    </nav>
</header>