<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Gestion du buzzer | TCC</title>
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link href="../assets/images/logo.ico" rel="icon">
</head>
<body>
<div class="container">
    <header>
        <h1 class="buzzer-title">Gestion du buzzer</h1>
        <p class="subtitle">Cliquez sur le bouton ci-dessous pour déclencher le buzzer</p> <br>
        <p class="subtitle">Vous pouvez également modifier les seuils et la durée de déclenchement</p> <br>
        <p class="buzzer-sub-subtitle">Le buzzer se déclenche quand la température est supérieure à <?= $threshold ?>°C.</p> <br>
    </header>

    <main>
        <div class="push-buzzer">
            <form method="POST" action="">
                <button type="submit" name="push-buzzer-btn" class="push-buzzer-btn" value="buzzer-pressed">Déclencher</button>
            </form>
        </div>
        <div class="info-section">
            <div class="card temp-threshold">
                <h2>Seuil</h2>
                <div class="temp-value-threshold" id="threshold-value"><?= $threshold ?>°C</div>
                <div class="slider-container">
                    <div class="slider-labels">
                        <span id="min-value">-10°C</span>
                        <span id="max-value">50°C</span>
                    </div>
                </div>
                <input type="range" min="-10" max="50" value="<?= $threshold ?>" class="slider" id="threshold-slider">
            </div>

            <div class="card buzz-duration">
                <h2>Durée du déclenchement</h2>
                <div class="buzz-duration-value" id="buzz-duration-value"><?= $buzzDuration ?> sec</div>
                <div class="slider-container">
                    <div class="slider-labels">
                        <span id="duration-min-value">1</span>
                        <span id="duration-max-value">5</span>
                    </div>
                </div>
                <input type="range" min="1" max="5" value="<?= $buzzDuration ?>" class="slider" id="duration-slider">
            </div>

            <div class="card temp-display">
                <h2>Dernier relevé de température</h2>
                <div class="temp-value"><?= $lastTemperatureReading ?></div>
            </div>
        </div>
    </main>
</div>
<script src="../assets/js/script.js"></script>
</body>
</html>