<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Temp Control Club</title>
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <h1>Gestion des actionneurs</h1>
        <p class="subtitle">Système de surveillance de température</p>
        <p class="subtitle">Bienvenue sur le site de Temp Control Club, Ici le G2B </p>
    </header>

    <main>
        <div class="info-section">
            <div class="temp-display">
                <h2>Température actuelle</h2>
                <div class="temp-value">--°C</div>
                <!-- Ici va fallaire surement faire du javascript pour mettre la temperature en temp réel -->
            </div>

            <div class="status-indicator">
                <div class="status-dot"></div>
                <p>État du système</p>
            </div>
        </div>
    </main>
</div>
</body>
</html>