<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Affichage des données | TCC</title>
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/images/logo.ico" type="icon"/>
    <!-- Intégration de la bibliothèque Chart.js pour les graphiques -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
<div class="container-data">
    <header>
        <h1>Affichage des données</h1>
    </header>

    <main>
        <!-- Bouton de bascule entre la vue liste et la vue cartes -->
        <div class="toggle-container">
            <button id="toggleViewBtnCard" class="form-data-btn form-btn">Passer à la vue Carte</button>
            <button id="toggleViewBtnList" class="form-data-btn form-btn">Passer à la vue Liste</button>
            <button id="toggleViewBtnGraph" class="form-data-btn form-btn">Passer à la vue Graphique</button>
        </div>

        <!-- Vue Liste -->
        <div id="listView" class="section">
            <h2>Derniers relevés des capteurs</h2>
            <div class="actuator-list" id="sensor-reading">
                <ul class="simple-readings-list">
                    <?php foreach ($lastSensorsReadings as $reading): ?>
                        <li><?= $reading ?></li>
                    <?php endforeach; ?>
                </ul>
            </div>

            <h2>Dernières activations des actionneurs</h2>
            <div class="actuator-list" id="actuator-states">
                <ul class="simple-readings-list">
                    <?php foreach ($lastActuatorsReadings as $reading): ?>
                        <li><?= $reading ?></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>

        <!-- Vue Cartes -->
        <div id="buttonView" class="section hidden">
            <h2>Capteurs (derniers relevés)</h2>
            <div class="data-buttons-grid">
                <?php foreach ($lastSensorsReadingsCardFormat as $sensorsReading):
                    $sensor = $sensorsReading[0];
                    $value = $sensorsReading[1];
                    $date = $sensorsReading[2];
                ?>
                <div class="data-display-card">
                    <h3><?= $sensor ?></h3>
                    <p class="data-value-full"><?= $value ?></p>
                    <p class="data-date"><?= $date ?></p>
                </div>
                <?php endforeach; ?>
            </div>

            <h2>Actionneurs (derniers relevés)</h2>
            <div class="data-buttons-grid">
                <?php foreach ($lastActuatorsReadingsCardFormat as $actuatorsReading):
                    $actuator = $actuatorsReading[0];
                    $date = $actuatorsReading[1];
                ?>
                <div class="data-display-card">
                    <h3 class="actuator-title"><?= $actuator ?></h3>
                    <p class="data-actuator-date"><?= $date ?></p>
                </div>
                <?php endforeach; ?>
            </div>
        </div>

        <!-- Section pour les Graphiques -->
        <div id="graphicsView" class="section hidden">
            <h2>Historique des Capteurs</h2>

            <div class="chart-container" id="temperatureChartContainer">
                <canvas id="temperatureChart"></canvas>
            </div>

            <div class="chart-container" id="humidityChartContainer">
                <canvas id="humidityChart"></canvas>
            </div>

            <div class="chart-container" id="lightChartContainer">
                <canvas id="lightChart"></canvas>
            </div>

            <div class="chart-container" id="distanceChartContainer">
                <canvas id="distanceChart"></canvas>
            </div>

            <div class="chart-container" id="soundChartContainer">
                <canvas id="soundChart"></canvas>
            </div>
        </div>
    </main>
</div>

<script src="../assets/js/data-button-graphics.js"></script>

</body>
</html>