<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Temp Control Club</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Temp Control Club</h1>
        <p class="subtitle">Système de surveillance de température</p>
      </header>

      <main>
        <div class="login-section">
          <a href="connexion.php">
            <button class="login-btn">Connexion</button>
          </a>
        </div>

        <p class="subtitle" style="font-size: 23px">
          Bienvenue sur le site de Temp Control Club ! <br /><br />
          Ici le Groupe G2B vous affiche les l'activation du buzzer en fonction
          de température ou son élevé.
        </p>
      </main>
    </div>
  </body>
</html>
