<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentions Légales</title>
    <link href="../assets/css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="icon" href="../assets/images/logo.ico" type="icon"/>
</head>
<body>
<div class="container container-legal-notices">
    <header>
        <h1>Mentions Légales</h1>
    </header>
    <main>
        <section class="section">
            <h2>Informations Générales</h2>
            <p>
                ISEP G2B
            </p>
            <p>
                10 Rue de Vanves, 92130 Issy-les-Moulineaux, France
            </p>
            <p>
                +33 01 49 54 52 00
            </p>
            <p>
                https://www.isep.fr/
            </p>
        </section>
        <section class="section">
            <h2>Propriété Intellectuelle</h2>
            <p>
                Le contenu de ce site (textes, images, graphismes, logo, icônes, sons, logiciels…) est la propriété exclusive de l'ISEP à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
            </p>
        </section>

        <section class="section">
            <h2>Collecte et Traitement des Données Personnelles</h2>
            <p>
                Ce site ne collecte pas de données personnelles à des fins commerciales sans votre consentement explicite. Les données collectées via les formulaires (contact, inscription, etc.) sont utilisées uniquement pour les finalités indiquées sur le formulaire.
            </p>
        </section>

        <section class="section">
            <h2>Responsabilité</h2>
            <p>
                L'ISEP ne saurait être tenu responsable des erreurs, d'une absence de disponibilité des informations et/ou de la présence de virus sur son site.
            </p>
        </section>

        <section class="section">
            <h2>Loi Applicable</h2>
            <p>
                Le présent site est soumis aux lois françaises. En cas de litige, les tribunaux français seront seuls compétents.
            </p>
        </section>
    </main>
</div>
</body>
</html> 